.vs
packages
Release/
Release-Tests/
ReleaseIntermediate/
Release-Linux/
Debug/
Debug-Tests/
DebugIntermediate/
Analysis
AnalysisIntermediate
testResults
*testResults*
*.opensdf
*.opendb
*.sdf
*.VC.db
*.cppcheck
CK2ToEU4/build
CK2ToEU4/cmake_install.cmake
CK2ToEU4/CMakeFiles/
CK2ToEU4Tests/CK2ToEU4Tests.vcxproj.user
.gitmodules
tests.xml
*bz2
lib/