[submodule "commonItems"]
	path = commonItems
	url = https://github.com/ParadoxGameConverters/commonItems/
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest/
[submodule "Fronter.NET"]
	path = Fronter.NET
	url = https://github.com/ParadoxGameConverters/Fronter.NET
